@import "@/style/theme-base-colors.sass";

$themes: (
  light: (
    background-color: darken($light-background-color, 3%),
    background-color-focus: darken($light-background-color, 5%),
    border-color: darken($light-background-color, 10%),
    border-color-focus: darken($light-background-color, 20%)
  ),
  dark: (
    background-color: lighten($dark-background-color, 3%),
    background-color-focus: lighten($dark-background-color, 5%),
    border-color: lighten($dark-background-color, 10%),
    border-color-focus: lighten($dark-background-color, 20%)
  )
);
